{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/static/img/navbarlogo.png" width="120" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

      {% if user.is_active %}
        <div class="nav-item dropdown">
          <a class="btn btn-outline-warning my-2 my-sm-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/">Account</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>

      {% elif "/login" == url_for(request.endpoint) %}
      {% else %}
        <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
        {{ form.email(class='form-control', placeholder='email', style='margin-right:5px') }}
        {{ form.password(class='form-control', placeholder='password', style='margin-right:5px') }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right:5px">Login</button>
        <a class="btn btn-outline-info" href="/signup">Sign up</a>
        </form>

      {% endif %}

  </div>
</nav>
<br>
{% endblock %}

