<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <link href="static/css/bootstrap-theme.css" rel="stylesheet" />

    <script type = "text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type = "text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="static/js/script.js"></script>
    <meta charset="UTF-8">
    <title>hallo</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="static/img/navbarlogo.png" alt="" width="120" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="#">Machinery</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Persons
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Users</a></li>
            <li><a class="dropdown-item" href="#">Clients</a></li>
            <li><a class="dropdown-item" href="#">Drivers</a></li>
            <li><a class="dropdown-item" href="#">Technicians</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Parts</a></li>
            <li><a class="dropdown-item" href="#">Attachments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Workshop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Weekly planning</a></li>
            <li><a class="dropdown-item" href="#">Todo's</a></li>
            <li><a class="dropdown-item" href="#">Parking</a></li>
            <li><a class="dropdown-item" href="#">Maintenance lists</a></li>
            <li><a class="dropdown-item" href="#">Jobs</a></li>
            <li><a class="dropdown-item" href="#">Joblines</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            System
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Schedule planner</a></li>
            <li><a class="dropdown-item" href="#">Processes</a></li>
            <li><a class="dropdown-item" href="#">Logging</a></li>
          </ul>
        </li>
      </ul>
        <button class="btn btn-outline-success">{{user}}</button>
    </div>
  </div>
</nav>
</body>
</html>