{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="container" style="marging:5%">
    <br>
<table id="userTable" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>first name</th>
                <th>last name</th>
                <th>phone number</th>
            </tr>
        </thead>
            <tbody>
            {%for i in Users%}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.firstname}}</td>
                    <td>{{i.lastname}}</td>
                    <td>{{i.telnr}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div class="modal fade" id="usermodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form id="userform" action="/updateUser" method="post">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="usermodaltitle">User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Enter first name" name="firstname" id="firstname" required>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Enter last name" name="lastname" id="lastname" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <input type="email" class="form-control" placeholder="Enter email" name="email" id="email" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <input type="tel" class="form-control" placeholder="Enter mobile phone number" name="telnr" id="telnr" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <input type="password" class="form-control" placeholder="Enter password" name="password" id="inputpassword">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="submit" formaction="" class="btn btn-secondary" id="resetpassword">Reset password</button>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="msbox()" id="deleteUser">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
  </form>
</div>
<script>



function openUserModal() {
  $('#usermodaltitle').html('New user');
  $('#userform').find("input[type=text], textarea").val("");
  $('#userform').find("input[type=email], textarea").val("");
  $('#userform').find("input[type=tel], textarea").val("");
  $('#resetpassword').hide();
  $('#inputpassword').show();
  $('#deleteUser').hide();
  $('#usermodal').modal('show');

}

function msbox() {
  var userurl = '/users'
  if (confirm("Are you sure to delete this user?")) {
    window.location.href = userurl;

  } else {
  }
}




$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#userTable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');

    var table = $('#userTable').DataTable({
        select: true,
        pageLength: 50,
        columnDefs: [{ "visible": false, "targets": 0 }],
        dom:
             "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-2'i><'col-sm-12 col-md-5'p>>",
        buttons: {
        buttons: [
            { text: '+ user', action: function ( e, dt, node, config ){openUserModal()}},
            { extend: 'excel', text: 'Excel'},
            { extend: 'pdf', text: 'Pdf'},
            { extend: 'colvis', columnText: function ( dt, idx, title) { return (idx+1)+': '+title;}}

            ],
            dom: {
          button: {
               className: 'btn btn-outline-secondary btn-sm'
          },
          buttonLiner: {
               tag: null
          }
         }},
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();

            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
    $('#userTable tbody').on('dblclick', 'tr', function () {
        var data = table.row( this ).data();
        const url = '../getUserdata/' + data[0]
        $.getJSON(url,{},function(data){
        const user = data[0]
        const me = data[1]
        $('#usermodaltitle').html(user['firstname']+' '+user['lastname']);
        $('#firstname').val(user['firstname']);
        $('#lastname').val(user['lastname']);
        $('#email').val(user['email']);
        $('#telnr').val(user['telnr']);
        console.log($('#resetpassword'))
        $('#resetpassword').attr('formaction', '/resetpassword/'+user['id']);
        $('#deleteUser').attr('formaction', '/deleteUser/'+user['id']);
        if (me.id == user.id) {
            $('#deleteUser').hide();
            $('#resetpassword').hide();
            $('#inputpassword').show();
            $('#inputpassword').attr('placeholder', 'Type new password if you want to change it.');
        } else {
            $('#deleteUser').show();
            $('#resetpassword').show();
            $('#inputpassword').hide();
            $('#inputpassword').attr('placeholder', 'Enter password');
            userurl = '/deleteUser/'+user['id']
        }});
        $('#usermodal').modal('show');
    } );
});

</script>

{% endblock %}