{% extends "base.html" %}
{% block title %}Location{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="gmap_canvas">
        <iframe width="100%" height="600" id="gmap_canvas"
                src="https://maps.google.com/maps?q={{lat}},{{lon}}&t=&z=11&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <a href="https://www.waze.com/ul?ll={{lat}}%2C{{lon}}&navigate=yes&zoom=17">
        <img src="/static/img/waze-icon.png" width="40" height="40" alt="">
    </a>
    <a href="https://www.google.com/maps/search/?api=1&query={{lat}}%2C{{lon}}">
        <img src="/static/img/Google-maps-icon.png" width="40" height="40" alt="">
    </a>
</div>
{% endblock %}